<?xml version="1.0"?>

<!--
  Assumes that crazyswarm is running already in a different workspace.
 -->

<launch>

  <rosparam>
    config_path: "/home/baskin/mr-trajectory-replanning/config.json"
    robots: [
      cf18
    ]
  </rosparam>

  <node name="cf1" pkg="planner3d" type="planner3d" output="screen">
    <rosparam>
      robotIdx: 0
    </rosparam>
  </node>

<!--   <node name="cf2" pkg="planner3d" type="planner3d" output="screen">
    <rosparam>
      robotIdx: 1
    </rosparam>
  </node> -->

</launch>
